.chat_box {
    width: "80%";
    background-color: white;
    border-radius: "8px";
}

.owner_bubble {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: 4px;
    margin-bottom: 4px;
}

.other_bubble {
    display: flex;
    align-items: flex-end;
    margin-top: 4px;
    margin-bottom: 4px;
}

.bubble {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    margin-left: 4px;
    margin-right: 4px;
    max-width: 40%;
    word-wrap: break-word;
}

/* .messages_list:hover {
    overflow-y: auto;
} */